html, body {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: flex;
    border: 1px solid black;
    position: relative;
    background-color: white;
}
.header {
    text-align: center;
    margin: 20px 0;
    border: 1px solid green;
    
}
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.logo-container img{
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%)

}
.date-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    border: 1px solid rgb(128, 128, 28);
    width: 100%;
}
.background-image {
    background-image: url(../assets/images/background_eb.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    

}